body {
  margin : 20px;
}

body.body-ar {
  margin : 0px;
  overflow: hidden;
}

ol li {
  padding: 0;
  margin: 8px 0;
}

#call-to-action {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  transition: all 0.5s ease-in;
}

#call-to-action a {
}

/* generated web style */
#call-to-action a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 16px 34px;
    border: 1px solid #36488a;
    border-radius: 8px;
    background: #4055a2;
    background: -webkit-gradient(linear, left top, left bottom, from(#4055a2), to(#2c3a6e));
    background: -moz-linear-gradient(top, #4055a2, #2c3a6e);
    background: linear-gradient(to bottom, #4055a2, #2c3a6e);
    text-shadow: #202b51 1px 1px 1px;
    font: normal normal normal 16px arial;
    color: #ffffff;
    text-decoration: none;
}
#call-to-action a:hover,
#call-to-action a:focus {
    border: 1px solid #4055a2;
    background: #4d66c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#4d66c2), to(#354684));
    background: -moz-linear-gradient(top, #4d66c2, #354684);
    background: linear-gradient(to bottom, #4d66c2, #354684);
    color: #ffffff;
    text-decoration: none;
}
#call-to-action a:active {
    background: #263361;
    background: -webkit-gradient(linear, left top, left bottom, from(#263361), to(#2c3a6e));
    background: -moz-linear-gradient(top, #263361, #2c3a6e);
    background: linear-gradient(to bottom, #263361, #2c3a6e);
}
